body {
    font-family: sans-serif;
    float :left;
}

ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}

h1 {
    font-size: 62px;
    margin-bottom: 52px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18;
}

p {
    font-size: 14px;
}

img {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
    right: 18px;
    bottom: 16px;
}

.center {
    width: 600px;
    position: relative;
    margin-top: 18vh;
    left: 26vw;
    padding: 16px 42px 42px 42px;
    border: 1px solid #c4c4c4;
    border-radius: 16px;
}